<header>
    <nav>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a class="<% if( title == 'ADD Products' ) 'active' %>" href="/admin/products">Add Product</a></li>
        </ul>
    </nav>
</header>