<header>
    <nav>
        <ul>
            <li><a class="<%= activeRoute == 'shop' ? 'active' : '' %>"href="/admin/list">Shop</a></li>
            <li><a class="<%= activeRoute == 'addProducts' ? 'active' : '' %>" href="/admin/products">Add Product</a></li>
        </ul>
    </nav>
</header>