<%- include('./includes/header.ejs')%>
<%- include('./includes/navigate.ejs')%>
    <form action="/admin/list" method="POST">
        <input name="product" type="text" />
        <button type="submit">send me</button>
    </form>
<%- include('./includes/footer.ejs') %>