<%- include('./includes/header.ejs')%>
<%- include('./includes/navigate.ejs')%>
    <main>
        <h1>My Products</h1>
        <% if(products.length) { %>
            <div class="items-container">
                <% for(let product of products) {%>
                    <p class="item">
                        <%= product.title%>
                    </p>
                    <% }%>
            </div>
            <% } else { %>
                <h3>No products added..</h3>
                <% }%>
    </main>
<%- include('./includes/footer.ejs') %>