extends layouts/main-layout.pug

block content 
    main 
        h1 My Products
        if products && products.length
            .items-container
                each product in products
                    p.item #{product.title}
        else 
            h2 No Products added
