html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
    if title != "Page Not Found!"
        header
            nav
                ul
                    li
                        a(href="/admin/products", class=(title === "Shop" ? '' : "active")) Add Product With Pug
                    li 
                        a(href="/admin/list", class=(title !== "Shop" ? '' : "active")) Shop 

    block content